.done{
    text-decoration:line-through;
}
body{
    background: linear-gradient(to right, rgba(251, 244, 119,0.6), rgba(12, 20, 50,1));
    font-family: 'Yatra One', cursive;
    font-size: 30px;
}

li{
  text-align: center;
  margin-top: 10px;
  list-style-type: none;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    /* font-weight: 200; */
    font-size: 50px;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
}
#first{
    font-family: 'Ubuntu', sans-serif;
}


.container{
    border: 1.5px solid #96858f;
   margin: 4px;
   border-radius: 10px;
   /* background-color:#d5d5d5; */
   background:  linear-gradient(to left, rgba(251, 244, 119,0.6), rgba(12, 20, 50,0.9));
}
.backcont{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid #22191e;
    border-radius: 20px;
    background: transparent;
    /* background:  linear-gradient(to right, rgb(251, 244, 119), rgb(12, 20, 50)); */
    width: 15em;
}

input{
    border: 1px solid black;
    height: 30px;
    width: 200px;
    font-family: 'Yatra One', cursive;
    padding-left: 12px;
}
#userinput{
    margin-bottom: 12px;
}
.remove{
    margin-left: 10px;
}
p ,h1{
    text-align: center ;
}
#enter{
    font-size: 20px;
    text-align: center;
    padding: 8px;
}
ul{
    padding-left: 0%;
}
button{
    background-color: rgb(12, 20, 50);
    color: rgb(251, 244, 119);
    border-radius: 6px;
    border-top: rgb(251, 244, 119) 1.5px solid;
    border-left: rgb(251, 244, 119) 1.5px solid;
    border-bottom: rgb(12, 20, 50) 1.5px solid;
    border-right: rgb(12, 20, 50) 1.5px solid;
    padding: 10px 12px;
}
button:hover{
    color: rgb(12, 20, 50);
    background-color: rgb(240, 236, 171);
    border-radius: 6px;
    border-bottom: rgb(235, 231, 170) 1.5px solid;
    border-right: rgb(251, 244, 119) 1.5px solid;
    border-top: rgb(12, 20, 50) 1.5px solid;
    border-left: rgb(12, 20, 50) 1.5px solid;

}
